main{
    display: flex;
    flex-direction: row;
    font-family: 'Inter', sans-serif;
}

body{
    margin: 0;
    background-color: #7D7463;
}

form{
    margin: 10px;
    padding: 24px 50px;
    text-align: left;
    background-color: white;
    border-radius: 2px;
}

fieldset{
    border: 0;
    font-size: 20px;
    font-weight: 500; 
}

p{
    margin: 20px;
}

#titulo{
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

img{
    width: 100px;
    height: 100px;
    float: right;
    margin: 0 20px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 840px;
}

.borda1 input{
    border-radius: 4px;
    height: 20px;
    width: 834px;
}

.borda2 input{
    border-radius: 4px;
    height: 20px;
    width: 377px;
}

.borda2 select{
    border-radius: 4px;
    height: 25px;
    width: 377px;
}

#text textarea{
    padding: 10px;
    border-radius: 4px;
    min-width: 840px;
    min-height: 80px;
}

input:focus, select:focus, textarea:focus{
    background-color: #f4f3f0;
}

input + label{
    margin-right: 20px;
}

input + input{
    margin-left: 30px;
}

button{
    background-color: #A52B21;
    border-radius: 2px;
    height: 45px;
    width: 250px;
    color: white;
    font-size: 20px;
}

button:hover{
    background-color: #89241b;
}

aside{
    margin: 0 30px 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50px;
    color: #F4E0B9;
}


header {
    background-color: #A52B21; 
    color: white; 
    padding: 10px 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 100; 
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 20px; 
}

.logo {
    font-family: 'Inter', sans-serif; 
    font-size: 24px;
    margin-right: 20px; 
}

header a:hover {
    text-decoration: underline; 
}

@media (max-width: 768px) {
    form {
        width: 100%;
        padding: 10px;
    }

    .container {
        flex-direction: column;
        max-width: 100%;
    }

    .borda1 input,
    .borda2 input,
    .borda2 select {
        width: 100%;
        display: block; 
    }

    textarea {
        min-width: 100%;
        display: block; 
    }

    button {
        width: 100%;
    }

    
    #text textarea {
        width: 100%;
        min-width: 100%;
        display: block;
    }
}

.middle {
    background-color: #a9a397;
    color: #fff;
    text-align: center; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.middle img {
    max-width: 100px; 
    height: auto;
}
