*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: white;
}


body{
    background-color: #F5ECD9;
    
}

header{
    background-color: #A52B21; 
    color: #fff; 
    padding: 20px; 
    display: flex; 
    justify-content: space-between;
    align-items: center;

}

header a {
    text-decoration: none;
    color: #fff;
}

main{
    display: flex;
}

#titulo{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-bottom: 10px;
}

#subtitulo{
    font-weight: lighter;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}

.formulario {

    background-color: #A52B21;
    
    width: 800px;
    height: 900px;
    padding: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

.itens{
    padding: 33px;
    font-weight: 560;
}


#checkbox {
    margin-top: 30px;
    display: flex;
    height: 500px;
    flex-direction: column; 
    padding-left: 15px;
    border-style: none;
}

label{
    margin-left: 25px;
    font-size: 20px;
}

#texto{
    border-style: none;
    margin-left: 15px;
    padding-right: 20px;
    padding-top: 5px;
    border-radius: 5px;
}

#botao{
    display: flex;
    margin-top: 20px;
    border-style: none;
    padding: 15px;
    border-radius: 25px;
    margin-left: 580px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 120px;
    background-color: #A9A397;
    
}





footer {
    background-color: #A9A397; 
    color: #fff; 
    padding: 10px; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 15px;
}

.middle img{
    padding-top: 25px;
}

img {
    max-width: 100%; 
    height: auto; 
}


.middle {
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}
.middle img {
    max-width: 100px; 
    height: auto;
}

/* Media query para telas menores, como smartphones */
@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    #titulo {
        font-size: 30px;
    }

    #subtitulo {
        font-size: 20px;
    }

    .formulario {
        width: 100%;
        max-width: 100%;
    }

    .itens {
        font-weight: 500;
    }

    #checkbox {
        margin-top: 10px;
        padding: 10px;
    }

    label {
        font-size: 14px;
    }

    #texto {
        margin-left: 10px;
    }

    #botao {
        margin: 10px auto;
    }
}