* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

body {
    background-color: #F5ECD9;
    color: white;
}

header {
    background-color: #A52B21;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
}

#cartao{
    display: flex;
    justify-content: flex-start;
}

#esquerda{
    padding-left: 50px;
}

fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    border-style: none;
}


#deposito p {
    padding-top: 23px;
}

#baixo{
    padding-top: 50px;
    padding-left: 50px;
}

main {
    background-color: #A52B21;
    margin: 100px;
    padding: 25px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

.subtitulo {
    font-size: 20px;
    padding: 10px 0;
}

p {
    font-weight: bold;
}

label {
    font-weight: bold;
}

span {
    font-weight: lighter;
}

#botao {
    cursor: pointer;
    padding: 10px 25px;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #A9A397;
    color: white;
    border-radius: 20px;
    border-style: none;
    font-weight: bolder;
}

#titulo {
    font-size: 40px;
    text-align: center;
    padding: 80px 0;
}

.itens input {
    border-style: none;
    border-radius: 5px;
    min-width: 200px;
}

.itens {
    padding: 8px;
}

#desc {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

#cima img {
    margin-top: 20px;
    height: 60px;
    padding-left: 70px
}

#direita {
    display: flex;
    flex-direction: column;
    
}

footer {
    background-color: #A9A397;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle img {
    padding-top: 25px;
}

img {
    max-width: 15%;
    height: auto;
}

.middle {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Media queries para tornar o site responsivo */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    main {
        margin: 20px;
        padding: 15px;
    }

    #botao {
        margin-left: 20px;
        float: none;
    }
}
